VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
VITE_API_BASE_URL=http://localhost:5001/api
VITE_EXAMPLES_BASE_URL=http://localhost:5001/examples
# Comma-separated list of Google email addresses allowed admin access
VITE_ADMIN_EMAILS=admin1@example.com,admin2@example.com
VITE_EMULATOR_PATH=../openhw-studio-emulator-danish

